@import url('https://fonts.cdnfonts.com/css/anoushka');
@import url('https://fonts.cdnfonts.com/css/delight-coffee-2');

.container {
    background-color: #EFF3F2;
}

.app {
    max-width: 1560px;
    margin: 0 auto;
}

/*Main*/
.main-wrapper {
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: #C62E42;
    width: 100%;
    height: auto;
    aspect-ratio: 1920/828;
    margin: 0;
    padding: 0;
}

.main-nft-pic {
    width: 100%;
    height: auto;
    display: inline-block;
    text-align: right;
}


.main-logo {
    /*color: #FDDD4E;*/
    /*background-color: #363A59;*/
    margin: 0 0 64px 0;
}

.main-sentence {
    font-family: 'Delight Coffee', sans-serif;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 5px;
    color: #F9C10B;
    margin: 0 0 16px;
}

.main-sentence-underlined {
    font-family: 'Delight Coffee', sans-serif;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 5px;
    border-bottom: 15px double #F9C10B;
    color: #F9C10B;
    margin: 0 0 16px;
}

.main-count {
    font-family: 'Delight Coffee', sans-serif;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 5px;
    color: #EFF3F2;
}

.main-buy-button {
    font-family: 'Delight Coffee', sans-serif;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 5px;
    width: 60%;
    height: auto;
    aspect-ratio: 10/2;
    color: #FDDD4E;
    background-color: #363A59;
    border-color: #EFF3F2;
    padding: 3% 0 0;
}

/*Meet*/
.meet-wrapper {
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: #F9C10B;
    width: 100%;
    height: auto;
    /*aspect-ratio: 1920/892;*/
}

.meet-card {
    width: 100%;
    height: auto;
    aspect-ratio: 4/3;
    background-color: #f8dda9;
    border-width: 5px;
    border-color: #181717;
    border-radius: 50px;
    padding: 6% 6%;
}

.session-title {
    font-family: 'Anoushka', sans-serif;
    font-size: 42px;
    font-weight: bold;
    letter-spacing: 3px;
    font-style: italic;
    color: #181717;
    margin: 0 0 40px;
}

.meet-content {
    font-family: 'Delight Coffee', sans-serif;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 1px;
    color: #181717;
    margin: 20px 0 0;
}

.link {
    color: #4D92FF;
}

/*Story*/
.story-wrapper {
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: #75ff9b;
    width: 100%;
    height: auto;
    /*aspect-ratio: 1920/892;*/
}

.story-card {
    width: 100%;
    height: auto;
    /*aspect-ratio: 4/3;*/
    background-color: #d6ffef;
    border-width: 5px;
    border-color: #181717;
    border-radius: 50px;
    padding: 6% 6%;
}

.story-content {
    font-family: 'Delight Coffee', sans-serif;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 1px;
    color: #181717;
    margin: 20px 0 0;
}

/*Roadmap*/
.roadmap-wrapper {
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: #969AC2;
    width: 100%;
    height: auto;
}

.roadmap-card {
    width: 80%;
    height: auto;
    background-color: #C9D6EA;
    border-width: 5px;
    border-color: #181717;
    border-radius: 50px;
    padding: 5% 5%;
    margin: 6% 10%;
}

.roadmap-content-left {
    font-family: 'Delight Coffee', sans-serif;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 1px;
    color: #181717;
    margin: 20px 0 0;
}

.roadmap-image {
    width: 70%;
    height: auto;
}

/*Team*/
.team-wrapper {
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: #E4AFD0;
    width: 100%;
    height: auto;
}

.team-card {
    width: 80%;
    height: auto;
    background-color: #FFD7EF;
    border-width: 5px;
    border-color: #181717;
    border-radius: 50px;
    padding: 2% 5%;
    margin: 6% 10%;
}

.team-avatar {
    width: 60%;
    border-width: 3px;
    border-color: #181717;
    border-radius: 50%;
    border-style: solid;
}

.profile-mask {
    position: absolute;
    background-color: rgb(24, 23, 23, .8);
    color: white;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    pointer-events: none;
    opacity: 0;
    text-align: left;
}

.avatar-row:hover .profile-mask {
    opacity: 1;
}

.profile-text {
    font-family: 'Ikka Rounded', sans-serif;
    font-size: 13px;
    font-weight: normal;
    vertical-align: middle;
    padding: 0 20px;
}

.profile-padding-top {
    padding-top: 15px;
}

.team-name {
    font-family: 'Delight Coffee', sans-serif;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 1px;
    color: #181717;
    margin: 8px 0 0;
}

.team-title {
    font-family: 'Delight Coffee', sans-serif;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
    color: #181717;
    margin: 0;
}

/*Footer*/
.footer {
    background-color: #EFF3F2;
}

.footer-menu {
    font-family: 'Delight Coffee', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #181717;
}

.footer-sentence {
    background-image: linear-gradient(to right, #FF8C00, #FF0080);
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Delight Coffee', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.footer-linkedin {
    font-size: 25px;
    color: #181717;
    background-color: #EFF3F2;
    padding: 0 16px;
}

.footer-social-icon {
    font-size: 30px;
    color: #FF0080;
    background-color: #EFF3F2;
    padding: 0 16px;
}