@import url('https://fonts.cdnfonts.com/css/delight-coffee-2');

.navbar {
    height: 64px;
    overflow: hidden;
    position: relative;
    background: #EFF3F2;
    padding: 0 60px;
}

.left-menu {
    float: left;
    height: 100%;
    line-height: 64px;
}

.logo-wrapper {
    display: inline-block;
    padding: 0 8px;
    margin: 0 50px;
    height: 100%;
    vertical-align: text-bottom;
}

.logo-name {
    font-family: 'Delight Coffee', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #181717;
}

.logo {
    margin: 0 15px;
}

.middle-menu {
    display: inline-block;
    padding: 0 8px;
    height: 100%;
    vertical-align: text-bottom;
}

.middle-menu-item {
    font-family: 'Delight Coffee', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #181717;
    background-color: #EFF3F2;
    border: #EFF3F2;
    padding: 0 32px;
}

.right-menu {
    float: right;
    height: 100%;
    line-height: 65px;
}

.right-menu-item {
    display: inline-block;
    padding: 0 8px;
    height: 100%;
    vertical-align: text-bottom;
}

.social-link-item {
    font-size: 25px;
    color: #181717;
    background-color: #EFF3F2;
    border: #EFF3F2;
    padding: 0 16px;
}

.connect-button {
    font-family: 'Delight Coffee', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #EFF3F2;
    background-color: #181717;
    margin: 0 50px;
}
