@import url('https://fonts.cdnfonts.com/css/montserrat');
@import url('https://fonts.cdnfonts.com/css/ikka-rounded');
@import url('https://fonts.cdnfonts.com/css/anoushka');
@import url('https://fonts.cdnfonts.com/css/delight-coffee-2');
@import url('https://fonts.cdnfonts.com/css/de-peown');
@import url('https://fonts.cdnfonts.com/css/babystuff');
/*font-family: 'BabyStuff', sans-serif;*/


/*Navbar*/
.navbar {
    height: 64px;
    overflow: hidden;
    position: relative;
    background: #EFF3F2;
    padding: 0 60px;
}

.left-menu {
    float: left;
    height: 100%;
    line-height: 65px;
}

.logo-wrapper {
    display: inline-block;
    padding: 0 8px;
    margin: 0 50px;
    height: 100%;
    vertical-align: text-bottom;
}

.logo-name {
    font-family: 'De Peown', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #3d3d3d;
}

.logo {
    margin: 0 15px;
}

.left-menu-item {
    display: inline-block;
    padding: 0 8px;
    height: 100%;
    vertical-align: text-bottom;
}

.menu-button {
    font-family: 'De Peown', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #3d3d3d;
    background-color: #EFF3F2;
    border: #EFF3F2;
}

.right-menu {
    float: right;
    height: 100%;
    line-height: 65px;
}

.right-menu-item {
    display: inline-block;
    padding: 0 8px;
    height: 100%;
    vertical-align: text-bottom;
}

.social-link-item {
    color: #3d3d3d;
    background-color: #EFF3F2;
    border: #EFF3F2;
    height: 100%;
    margin: 0 10px;
}

.connect-button {
    font-family: 'De Peown', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #EFF3F2;
    background-color: #3d3d3d;
    margin: 0 50px;
}

/*LandingPage*/
.solid {
    border-top: 10px solid #EFF3F2;
    margin: 0;
    padding: 0;
}

.solid-bottom {
    border-top: 5px solid black;
    margin: 0;
    padding: 0;
}

.app {
    min-height: 100vh;
    max-width: 1560px;
    margin: 0;
    background-color: #EFF3F2;
}

/*1*/
.main-wrapper {
    display: flex;
    align-items: center;
    background-color: #C62E42;
    width: 100%;
    height: auto;
    aspect-ratio: 1920/828;
    margin: 0;
    padding: 0;
}

.main-nft-pic {
    width: 80%;
    height: auto;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 0;
}

.main-logo {
    /*color: #FDDD4E;*/
    /*background-color: #363A59;*/
    margin: 0 0 64px 0;
}

.main-sentence {
    font-family: 'De Peown', sans-serif;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 4px;
    color: #F9C10B;
    margin: 0 0 16px;
}

.main-count {
    font-family: 'De Peown', sans-serif;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 3px;
    color: white;
}

.main-buy-button {
    font-family: 'De Peown', sans-serif;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 3px;
    width: 60%;
    height: auto;
    aspect-ratio: 10/2;
    color: #FDDD4E;
    background-color: #363A59;
    border-color: #EFF3F2;
}

/*2*/
.meet-wrapper {
    background-color: #F9C10B;
    width: 100%;
    height: auto;
    aspect-ratio: 1920/828;
    display: flex;
    align-items: center;
}

.card {
    width: 100%;
    height: auto;
    aspect-ratio: 4/3;
    background-color: #f8dda9;
    border-width: 5px;
    border-color: black;
    border-radius: 50px;
    padding: 5% 5%;
}

.para-title-others {
    /*font-family: 'Ikka Rounded', sans-serif;*/
    font-family: 'Anoushka', sans-serif;
    font-size: 48px;
    font-weight: bold;
    font-style: italic;
    color: #000000;
    margin: 0 0 16px;
}

.para-content-others {
    font-family: 'De Peown', sans-serif;
    font-size: 22px;
    font-weight: normal;
    color: black;
}

.link {
    color: #4D92FF;
}

.wrapper-55efc4 {
    padding: 100px 0;
}

.wrapper-2 {
    background-color: #EFF3F2;
    /*padding: 0 0 100px 0;*/
}

.wrapper-74b9ff {
    background-color: #FCB6D0;
    padding: 100px 0;
}

/*Footer*/
.footer {
    background-color: #EFF3F2;
}

.footer-menu {
    font-family: 'De Peown', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #3d3d3d;
    background-color: #EFF3F2;
    border: #EFF3F2;
}

.footer-social-icon {
    margin: 0 10px;
}