@import url('https://fonts.cdnfonts.com/css/montserrat');

/*Navbar*/
.navbar {
    height: 64px;
    overflow: hidden;
    position: relative;
    background: #EFF3F2;
    padding: 0 60px;
}

.left-menu {
    float: left;
    height: 100%;
    line-height: 65px;
}

.logo-wrapper {
    display: inline-block;
    padding: 0 8px;
    margin: 0 50px;
    height: 100%;
    vertical-align: text-bottom;
}

.logo-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #3d3d3d;
}

.logo {
    margin: 0 15px;
}

.left-menu-item {
    display: inline-block;
    padding: 0 8px;
    height: 100%;
    vertical-align: text-bottom;
}

.menu-button {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #3d3d3d;
    background-color: #EFF3F2;
    border: #EFF3F2;
}

.right-menu {
    float: right;
    height: 100%;
    line-height: 65px;
}

.right-menu-item {
    display: inline-block;
    padding: 0 8px;
    height: 100%;
    vertical-align: text-bottom;
}

.social-link-item {
    color: #3d3d3d;
    background-color: #EFF3F2;
    border: #EFF3F2;
    height: 100%;
    margin: 0 10px;
}

.connect-button {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #EFF3F2;
    background-color: #3d3d3d;
    margin: 0 50px;
}

/*LandingPage*/
.solid {
    border-top: 10px solid black;
    margin: 0;
    padding: 0;
}

.app {
    min-height: 100vh;
    max-width: 1560px;
    margin: 0;
    background-color: #EFF3F2;
}

.wrapper-0 {
    /*background-color: #C62E42;*/
    background-image: url("./bg.png");
    background-size: 100%;
    /*width: 100%;*/
    height: auto;
    aspect-ratio: 1920/892;
    /*translate: 0 -50px;*/
}

.main {
    /*display: flex;*/
    /*align-items: center;*/
    /*margin: 0 64px;*/
}

.main-eager {
    font-family: 'Montserrat', sans-serif;
    font-size: 150px;
    font-weight: bold;
    font-style: italic;
    color: white;
    text-shadow: 30px 20px black,
    -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
    text-align: left;
    margin: 0;
    padding: 0 5%;
}

.main-emu{
    font-family: 'Montserrat', sans-serif;
    font-size: 150px;
    font-weight: bold;
    font-style: italic;
    color: white;
    text-shadow: 30px 20px black,
    -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
    text-align: right;
    margin: 0;
    padding: 0 1%;
}

.divider {
    height: 10px;
    width: 10px;
    background-color: black;
}

.link {
    color: #4D92FF;
}

.wrapper-1 {
    /*background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);*/
    background-color: #D2E9E1;
    padding: 100px 0;
}

.para-title-collection {
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    font-weight: bold;
    font-style: italic;
    color: white;
    text-shadow: 0 10px black,
    -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    margin: 0;
}

.para-content-collection {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: black;
}

.para-title-others {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: bold;
    font-style: italic;
    color: #000000;
    margin: 0 0 16px;
}

.para-content-others {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: normal;
    color: black;
}

.box {
    border-width: 5px;
    border-color: black;
    border-radius: 50px;
    padding: 50px 70px;
}

.wrapper-2 {
    background-color: #EFF3F2;
    /*padding: 0 0 100px 0;*/
}

.buy-box {
    border-width: 5px 0;
    border-color: black;
    /*border-color: #C62E42;*/
    border-radius: 0px;
    padding: 50px 10%;
}

.buy-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    font-weight: bold;
    color: white;
    text-shadow: 0 10px black,
    -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    margin: 0 0 16px;
}

.buy-content {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: normal;
    color: #17253B;
}

.buy-button {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: bold;
    background-color: black;
    color: #EFF3F2;
    /*box-shadow: 0 0 10px rgb(77, 146, 255) inset;*/
}

.wrapper-74b9ff {
    background-color: #FCB6D0;
    padding: 100px 0;
}

.wrapper-a29bfe {
    background-color: #FBEDCA;
    padding: 100px 0;
}

.wrapper-55efc4 {
    padding: 100px 0;
}

.stage-1 {
    width: 29%;
    height: auto;
    aspect-ratio: 3/4;
    border-width: 5px;
    border-color: black;
    border-radius: 0px;
    /*margin: 0 30px 30px 0;*/
}

.stage-2 {
    width: 49%;
    height: auto;
    aspect-ratio: 16/9;
    border-width: 5px 0;
    border-color: black;
    border-radius: 0px;
    /*margin: 0 30px 30px 30px;*/
}

.stage-3 {
    width: 19%;
    height: auto;
    aspect-ratio: 32/30;
    border-width: 5px;
    border-color: black;
    border-radius: 0px;
    /*margin: 0 0 30px 30px;*/
}

.stage-4 {
    /*width: 20%;*/
    /*height: auto;*/
    /*aspect-ratio: 64/75;*/
    /*border-width: 5px;*/
    /*border-radius: 0px;*/
    /*border-color: black;*/
}

/*Footer*/
.footer {
    background-color: #EFF3F2;
}

.footer-menu {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #3d3d3d;
    background-color: #EFF3F2;
    border: #EFF3F2;
}

.footer-social-icon {
    margin: 0 10px;
}